<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>{{ title }}</title>

    <!-- Fonts -->
    {#<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>#}
    <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,300,700' rel='stylesheet' type='text/css'>
    {#<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>#}

    <!-- Styles -->
    <link href="{{ asset('//static.gurzeda.co/styles/main.css') }}" rel="stylesheet" />
</head>
<body>
<div id="background">
</div>

<div id="header">
    <div class="left">
        <div class="firstname">Grzegorz</div>
    </div>
    <div class="right">
        <div class="lastname">Gurzęda</div>
        <div class="subtitle">PHP Backend &amp; Frontend developer</div>
    </div>
</div>

<div id="content">
</div>

<nav>
    <ul>
        <li>Home</li>
        <li>About me</li>
        <li>Professional Experience</li>
        <li>Resume</li>
        <li>Contact</li>
    </ul>
</nav>
<script src="{{ asset('//static.gurzeda.co/scripts/jquery-2.1.4.min.js') }}"></script>
<script src="{{ asset('//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js') }}"></script>
<script src="{{ asset('//static.gurzeda.co/scripts/application.js') }}"></script>
</body>
</html>